@use 'stylesheet.scss' as style;

.container {
  margin-bottom: 2rem;
}

.task {
  text-align: center;
  font-weight: bold;
}

.buttons-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  > * {
    width: 100%;
    @media (min-width: style.$mobile-breakpoint) {
      width: auto;
    }
  }

  > :not(:last-child) {
    margin-bottom: 1rem;
    margin-right: 0;
    @media (min-width: style.$mobile-breakpoint) {
      margin-bottom: 0;
      margin-right: 1rem;
    }
  }
}
