@use 'stylesheet.scss' as style;

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  @media (min-width: style.$mobile-breakpoint) {
    grid-template-columns: 1fr 2fr;
  }
}

.callout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.image {
  width: 100%;
  height: auto;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 0.75;
  }
}
