@use 'stylesheet.scss' as style;

.main-container {
  margin: 2rem 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  gap: 1rem;

  @media (min-width: style.$mobile-breakpoint) {
    width: 60rem;
    position: relative;
    left: -5rem;
    grid-template-columns: 1fr 1fr;
  }
}

@mixin editor-styles() {
  > * {
    @include style.code-font;
  }

  /* stylelint-disable-next-line */
  textarea,
  pre {
    /* stylelint-disable-next-line */
    padding: 0 !important;
  }
}

.editor-wrapper {
  @include editor-styles;
}

.preview-wrapper {
  min-height: 10rem;
  border-top: 1px solid style.$lightGrey;
  padding-top: 1rem;

  @media (min-width: style.$mobile-breakpoint) {
    border-top: none;
    padding-top: 0;
    border-left: 1px solid style.$lightGrey;
    padding-left: 1rem;
  }
}

.preview-frame {
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
}
