// stylelint-disable

// Colors
$black: #000000;
$darkGrey: #414141;
$lightGrey: #dcdcdc;
$lighterGrey: #efefef;
$white: #ffffff;
$blue: #278bca;

// Breakpoints
$mobile-breakpoint: 50em;

// Sizing
$page-width: 40rem;
$main-vertical-margin: 1rem;
$main-vertical-padding: 1rem;

// Typography
@mixin body-font() {
  font-family: var(--font-main), sans-serif;
  font-size: 125%;
  line-height: 1.5;
}

@mixin title-font() {
  font-size: 1.75rem;
  line-height: 1.5;
}

@mixin subtitle-font() {
  font-size: 1.25rem;
  line-height: 1.5;
}

@mixin subsubtitle-font() {
  font-size: 1.15rem;
  line-height: 1.5;
}

@mixin code-font() {
  font-size: 0.8em;
  font-family: monospace;
}

@mixin small-font() {
  font-size: 0.8rem;
}
