@use 'stylesheet.scss' as style;

.title {
  position: relative;
  margin: 0;

  @include style.title-font;
}

.subtitle {
  position: relative;
  margin: 0;
  margin-top: 1rem;

  @include style.subtitle-font;

  &-anchor {
    /* stylelint-disable-next-line */
    font-size: 0.7em;
    text-decoration: none;
    margin-left: 1ch;
  }
}

.subsubtitle {
  @include style.subsubtitle-font;

  margin: 0;
  margin-top: 1rem;
}
