@use 'stylesheet.scss' as style;

.title {
  position: relative;
  margin: 0;

  @include style.title-font;
}

.subtitle {
  position: relative;
  margin: 0;
  margin-top: 1rem;

  @include style.subtitle-font;

  &-anchor {
    float: left;
    text-decoration: none;

    /* Line-height is 1.5em so center this way */
    /* stylelint-disable-next-line */
    font-size: 0.7em;
    padding-top: 0.4em;
    padding-right: 0.2em;
    margin-left: calc(-0.2em - 2ch);
  }
}
