@use 'stylesheet.scss' as style;

@mixin cell() {
  text-align: left;
  border: 1px solid style.$lightGrey;
  padding: 0.5rem 1rem;
}

.table {
  border-collapse: collapse;
  margin: 0 auto;
}

.table-header-cell {
  @include cell;
}

.table-cell {
  @include cell;
}
