@use 'stylesheet.scss' as style;
@use 'components/Editor/Editor.module.scss' as editor;

.callout-wrapper {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  min-height: 8rem;

  @media (min-width: style.$mobile-breakpoint) {
    flex-wrap: nowrap;
  }

  & > * {
    @media (min-width: style.$mobile-breakpoint) {
      flex-basis: 1 1 50%;
    }
  }
}

.editor-wrapper {
  @include editor.editor-styles;
}

.solution-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sponsor {
  height: 1.5rem;
  width: auto;
  margin-top: 1rem;
}
