@use 'stylesheet.scss' as style;
@use 'components/Editor/Editor.module.scss' as editor;

.callout-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  min-height: 8rem;

  @media (min-width: style.$mobile-breakpoint) {
    grid-template-columns: 1fr 1fr;
  }
}

.editor-wrapper {
  @include editor.editor-styles;
}

.solution-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sponsor {
  height: 1.5rem;
  width: auto;
  margin-top: 1rem;
}
