@use 'stylesheet.scss' as style;

.divider {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  border: none;
  margin: 2rem 0;

  ::before,
  ::after {
    content: '';
    flex-grow: 1;
    background: style.$lightGrey;
    height: 1px;
    // stylelint-disable-next-line
    font-size: 0;
    // stylelint-disable-next-line
    line-height: 0;
  }
}
